* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: darkgrey;
    min-height: 100vh; /*Vh é mais responsivo que pixels. VH = Viewport Height , altura de visualização do usuário */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Faz com que tenhamos as colunas*/ 
    gap: 10px 15px; /*ordem é row gap e column gap*/
    grid-auto-rows: minmax(210px, 100%);
}

.item {
    border: solid 2px black;
    background-color: #eee;
    font-size: 30px;
    padding: 10px;
}